body {
  background-color: rgba(0,0,255,0.5);
  /*background-image: url("skid-mark.jpg");*/
}

.container {
  display: inline-block;
  float: left ;
  /*margin-top: auto;*/
  margin: 0 auto;
  width: 250px;
  height: 250px;
}

img   {
  height: auto;
  border-style: outset;

}
p    {

}

#myAuthor {
  color: white;
  font-weight: bold;
}

#myTitle  {
  overflow: hidden;
  max-width: 100px;
  max-height: 50px;
}
