body {
  background-color: rgba(0,0,255,0.5);
  background-image: url("skid-mark.jpg");
}
/* this is not working, the default for sortable is block*/
 div.container {
  display: inline-block;
  float: left ;
  margin-top: auto;
  margin: 0 auto;
  width: 200px;
  height: 250px;
}

h1, h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

img   {
  height: auto;
  border-style: outset;

}

#myAuthor {
  color: white;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

#myTitle  {
  overflow: hidden;
  max-width: 200px;
  max-height: 100px;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;

}
