body {
  background-image: url("skid-mark.jpg");
}

#main {

}

 div.container {
  display: inline-block;
  float: left ;
  text-align: center;
  margin: 5px 5px 5px 5px;
  padding: 10px;
  width: 200px;
  height: 250px;
  background-color: rgba(0,0,255,0.7);
  border-radius: 20px;
  border-color: yellow;
  border-style: double;
}

h1, h2 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

img   {
  height: auto;
  border-style: outset;
}

#myAuthor {
  color: white;
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
  text-align: center;
}

#myTitle  {
  overflow: hidden;
  max-width: 200px;
  max-height: 100px;
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  text-align: center;

}
